.calendar {
  .month-view {
    .table {
      table-layout: fixed;
      
      td {
        height: 100px;
        vertical-align: top;
        padding: 5px;
        position: relative;
        border-color: #c7c7c7;
        
        &.today {
          background-color: rgba(0, 123, 255, 0.1);
        }
        
        > span {
          display: inline-block;
          width: 24px;
          height: 24px;
          line-height: 24px;
          text-align: center;
          border-radius: 50%;
        }
        
        .event-summary {
          font-size: 0.8em;
          margin-top: 5px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          
          .event {
            background-color: rgb(184, 178, 178) !important;
            color: rgb(3, 3, 3) !important;
            padding: 5px !important;
            margin: 2px 0 !important;
            z-index: 1000;
          }
        }
      }
    }
  }
  
  .week-view, .day-view {
    .table {
      td {
        height: 30px;
        vertical-align: top;
        padding: 2px;
        border-color: #c7c7c7;
        &.hour {
          width: 100px;
          text-align: right;
          font-weight: bold;
          text-align: center;
        }
        
        .event {
          background-color: #007bff;
          color: white;
          padding: 2px 4px;
          border-radius: 3px;
          font-size: 0.8em;
          margin-bottom: 2px;
          display: block;
          
        }
      }
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}